  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 16pt;
  }
  
  h1 { 
    margin-bottom: 50px;
    text-align: center;
  }

  .content { 
    margin: 20px auto; 
    width: 700px; 
  }

  .question {
    border: 0px solid gray;
    --box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    margin-bottom: 0px;
    border-bottom: 0px dashed lightgray;
  }

  .question > div > span {
    font-size: small;
    font-weight: bold;
    width: 70px;
    word-wrap: break-word;
  }

  .question > .title {
    font-weight: bold;
    margin-bottom: 50px;
  }
   
  .question > .description {
    font-weight: normal;
    margin-bottom: 20px;
  }
    
  .question > img {
    max-width: 600px;
    margin: -20px auto 30px auto;
    display: block;
  }

  .options {
    padding-bottom: 50px;
  }
  
  .label-1-7 {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
    margin-bottom: 50px;
  }
  
  .lable-list {
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  input[type=radio], input.radio {
    float: left;
    clear: none;
    margin: 2px 5px 0px 5px;
  }

  .code {
    padding: 20px;
    text-align: center;
  }
  
  input[type=text], input.text {
    height: 30px;
    width: 300px;
    font-size: 20pt;
    font-weight: bolder;
    text-align: center;
    color: darkgreen;
  }

  input[type=text].open, input.text.open {
    height: 30px;
    width: 300px;
    font-size: 12pt;
    font-weight: normal;
    text-align: left;
    color: black;
  }

  button {
    margin-bottom: 50px;
    padding: 10px;
  }

  .center {
    text-align: center;
    width: 160px;
    margin: 0 auto;
  }

  .left {
    float: left;
    margin-top: -10px;
    margin-right: 40px;
  }
  
  .right {
    margin-top: -10px;
  	float: right;
    margin-left: 40px;
  }

  #success {
    border: 1px solid green;
    background-color: #D1EEC6;
  }

  #success > p {
    text-align: center;
    padding: 20px 60px 10px 60px;
  }

  #codigo {
    font-weight: bolder;
    font-size: 18pt;
  }
