  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
  }
  
  h1 { 
    margin-bottom: 50px;
    text-align: center;
  }

  .content { 
    margin: 20px auto; 
    width: 700px; 
  }

  .question {
    border: 1px solid gray;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    margin-bottom: 50px;
  }

  .question > div > span {
    font-size: small;
    width: 70px;
    word-wrap: break-word;
  }

  .question > .title {
    font-weight: bold;
  }
   
  .question > .description {
    font-weight: normal;
    margin-bottom: 50px;
  }
    
  .question > img {
    max-width: 300px;
    margin: 0px auto 0px auto;
    display: block;
  }

  .options {
    padding-bottom: 50px;
  }
  
  label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
    margin-bottom: 50px;
  }

  input[type=radio], input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 10px;
  }

  button {
    margin-bottom: 50px;
    padding: 10px;
  }

  .center {
    text-align: center;
    width: 160px;
    margin: 0 auto;
  }

  .left {
    float: left;
    margin-top: -10px;
    margin-right: 40px;
  }
  
  .right {
    margin-top: -10px;
  	float: right;
    margin-left: 40px;
  }

  #success {
    border: 1px solid green;
    background-color: #D1EEC6;
  }

  #success > p {
    text-align: center;
    padding: 20px 60px 10px 60px;
  }

  #codigo {
    font-weight: bolder;
    font-size: 18pt;
  }